<html>
<head>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>

</head>
<body>

{% load staticfiles  %}

<link rel='stylesheet prefetch' href="{% static 'codetest/css/cnstyle.css' %}">
<link rel='stylesheet prefetch' href="{% static 'codetest/css/ui-el.css' %}">
<link rel='stylesheet prefetch' href="{% static 'codetest/css/workshop.css' %}">
<script src='http://codepen.io/assets/libs/fullpage/jquery.js'> </script>
<script src="{% static 'codetest/js/ccodepen.js' %}"> </script>
<script src="{% static 'codetest/js/workshop.js' %}"> </script>
{% block content %}


{% csrf_token %}
<div class="responsive">
<ul class="content">
{% for workshop in workshop_list %}
	<!-- 1 -->
	<li>
		<div class="card-front">
			<h3><b>{{ workshop.title }}</b></h3>
			<p> Start date: {{ workshop.start_time.day }} {{ workshop.start_time|date:'M' }} {{ workshop.start_time.year }}</p>
            <p> Tuition: {{ workshop.tuition  }} </p>
		</div>
        <a href="{% url 'result' workshop.id %}">
		<div class="card-back" >

      <h2><b>Click to sign up</b></h2>
            <h2><b>Seats left: {{ workshop.seats_left}}</b></h2>
		</div></a>

		<!-- Content -->
		<div class="all-content">
			<h1>Duration: {{ workshop.duration }} hours</h1>
		</div>
	</li>
    {% endfor %}
    <li>
		<div class="card-front">
			<h3><b>My profile</b></h3>

		</div>
        <a href="{% url 'profile'  %}">
		<div class="card-back" >

      <h2><b>See your workshops</b></h2>

		</div></a>

		<!-- Content -->

	</li>
    </ul>
    </div>



{% endblock %}

</body>
</html>

