<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href="{% static 'codetest/css/cnstyle.css' %}">
    <link rel='stylesheet prefetch' href="{% static 'codetest/css/ui-el.css' %}">

    <link rel='stylesheet prefetch' href="{% static 'codetest/css/workshop.css' %}">




</head>
<body>



<a class= "learn" href = "{% url 'index'  %}"> Main </a>
<a class= "learn" href = "{% url 'auth_logout' %}"> Logout </a>


{% if user.is_authenticated %}



{% if workshops_registered  %}


<div class="responsive">
<ul class="content">
{% for workshop in  workshops_registered %}
	<!-- 1 -->
	<li>
		<div class="card-front">
			<h3><b>{{ workshop.title }}</b></h3>
			<p> Start date: {{ workshop.start_time.day }} {{ workshop.start_time|date:'M' }} {{ workshop.start_time.year }}</p>
            <p> Tuition: {{ workshop.tuition  }} </p>
		</div>
        <a href="{% url 'remove_result' workshop.id %}">
		<div class="card-back" >

      <h2><b>Click to remove</b></h2>

		</div></a>

		<!-- Content -->
		<div class="all-content">
			<h1>Duration: {{ workshop.duration }} hours</h1>
		</div>
	</li>
    {% endfor %}

    </ul>
    </div>





{% else %}
   <br>
    No registered workshops yet
{% endif %}

{% else %}

    <p> Welcome, new user. Please log in. </p>

{% endif %}





</body>
</html>