@keyframes slide {
  0% {
    left: 100%;
  }
  50% {
    left: -120px;
  }
  100% {
    left: -101px;
  }
}
$list-table-main-color: #000;
$list-table-row-even-1: #FFF;
$list-table-row-even-2: darken(#FFFFFF, 5%);
$list-table-border-color: $list-table-main-color;
$list-table-closer-bg: $list-table-border-color;
$list-table-head-bg: darken($list-table-row-even-2, 15%);

ol.list-table {
  &.list-document {
    > li {
      > ul.item {
        > li {
          &.item-date {
            width: 85px;
          }
          &.item-info {
            .reference {
              font-weight: 700;
            }
          }
          &.item-price {
            width: 100px;
            text-align: center;
            .price {
              display: block;
            }
          }
          &.item-action {
            width: 80px;
            text-align: center;
            position: relative;
            .fa {
              font-size: 22px;
              cursor: pointer;
            }
            .action {
              display: none;
              position: absolute;
              right: 0;
              left: 100%;
              bottom: 0;
              top: 0;
              background: white;
              > ul {
                list-style: none;
                display: table;
                height: 100%;
                margin: 0;
                padding: 0;
                width: 100%;
                > li {
                  display: table-cell;
                  vertical-align: middle;
                  width: 25%;
                  text-align: center;
                  .fa {
                    color: black;
                  }
                  &:hover {
                    background: red;
                    .fa {
                      color: white;
                    }
                  }
                }
              }
              .closer {
                position: absolute;
                top: -10px;
                left: -10px;
                background: $list-table-closer-bg;
                border-radius: 100%;
                display: block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                color: white;
                font-size: 12px;
                text-decoration: none;
              }
            }

            &.active {
              .action {
                border-left: 1px solid $list-table-border-color;
                display: block;
                animation: slide 0.7s forwards;
              }
            }
          }
        }
      }
    }
  }
  &.list-table-striped {
    > li {
      > ul.item {
        li.item-action {
          .action {
           background: $list-table-row-even-1;
          }
        }
      }
      &:nth-child(odd) {
        > ul.item {
          li.item-action {
            .action {
             background: $list-table-row-even-2;
            }
          }
        }
      }
    }
  }
}

ol.list-table {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
  display: block;
  border-bottom: 1px solid $list-table-border-color;
  > li {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    display: table;
    position: relative;
    border-right: 1px solid $list-table-border-color;
    border-top: 1px solid $list-table-border-color;
    > ul.item {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: table-row;
      > li {
        display: table-cell;
        vertical-align: middle;
        margin: 0 5px;
        padding: 5px 5px;
        border-left: 1px solid $list-table-border-color;
      }
    }
    &.head {
      text-transform: uppercase;
      text-align: center;
      background: $list-table-head-bg !important;
      font-weight: 700;
    }
  }
  &.list-table-striped {
    > li {
      background-color: $list-table-row-even-1;
      &:nth-child(odd) {
        background-color: $list-table-row-even-2;
      }
    }
  }
}